<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Projeto Pokedex</title>
  </head>
 <body>
   <header>
     <img src="https://imagensemoldes.com.br/wp-content/uploads/2020/04/Logo-Pokebola-Pok%C3%A9mon-PNG.png" alt="Esta é um logo da pokebola">   
      
      <nav id="menu">
        <ul >
          <li><a href="./">Home</a></li>
          <li><a href="./cadastro">Cadastrar pokemon</a></li>
          <li><a href="./listaPokemon">Pokedex</a></li>
        </ul>

      </nav>       
   </header>

   <main>

   </main>


   <footer>
    <p>Projeto criado por A.Mathias para fins educativos. BlueEdtech</p>
  </footer>
 </body>
</html>
