<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Projeto Pokedex</title>
  </head>
  <body>
    <header>
      <h2>Pokedex</h2>

      <nav id="menu">
        <ul>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="./cadastro">Cadastrar pokemon</a></li>
          </ul>
        </ul>
      </nav>
    </header>

    <main>
      <section id="cards">
        <% pokedex.forEach((pokemon) =>{ %>

        <div class="card">
          <a href="detalhes">
            <p class="id">ID: <%=pokemon.id %></p>
            <img
              src="<%=pokemon.imagem %> "
              alt="Essa é uma imagem do pokemon"
            />
            <h3>Nome: <%=pokemon.nome %></h3>
            <p>Tipo: <%=pokemon.tipo %></p>
          </a>
        </div>

        <% }) %>
      </section>
    </main>
    <footer>
      <p>Projeto criado por A.Mathias para fins educativos. BlueEdtech</p>
    </footer>
  </body>
</html>
